/aws-books/.idea/
/aws-books/build/
/aws-books/lambda-book-executor.json
/aws-books/privilege-policy.json
/aws-books/output.json
/aws-books/test.sh
/aws-hello/out.json
/aws-hello/.idea/
/aws-hello/build/
/aws-hello-extended/out.json
/aws-hello-extended/build/
/aws-hello-extended/.idea/
/aws-hello-extended/out
/aws-hello-extended/makefile-example
/aws-lambda-go/.idea/
/aws-lambda-go/build/
/aws-lambda-go/out.json
/aws-lambda-go/test.sh
/aws-sns/.idea/
